.container {
    border: 5px solid #ffcc5c;
    display: flex;
}

.item1 {
    flex: 1;
    margin-right: 2px;
}

.item2 {
    flex: 2;
    margin-right: 2px;
}

.item3 {
    flex: 1;
}

@media (max-width: 400px) {
    .container {
        flex-direction: column;
    }
    .item2 {
        order: 1;
    }
    .item1,
    .item3 {
        margin-right: 0;
        margin-bottom: 2px;
    }
}